<footer id="footer">

        <div class="logo-footer">
            <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo1.png" %></a>
        </div>
        <div class="agreement">
            <a href="#">Privacy Policy Terms Conditions</a> <span class="text">Copyright 2020. All rights reserved.</span>
        </div>
        <div class="footer-links">
            <span class="text-connect">Connect with us:</span>
            <a href="https://twitter.com/RoodzFernando" target= "_blank">
                <div class="social-link" id="twitter"></div>
            </a>

            <a href="https://www.linkedin.com/in/roodz-fernando-fleurant/" target= "_blank">
                <div class="social-link" id="linkedin"></div>
            </a>

            <a href="https://web.facebook.com/frf.decago" target= "_blank">
                <div class="social-link" id="facebook"></div>
            </a>
        </div>

</footer>

