@import "bootstrap/scss/bootstrap";
$orange: #FE6001;
$white: #FFF;
// Homepage
.article-home {
    display: flex;
    .article-home-card {
        width: 75%;
        .article-img {
            background: grey;
            height: 550px;
            img {
                width: 100%;
                height: 550px;
            }
            .article-text {
                position: absolute;
                top: 520px;
                margin-left: 10px;
                h2 {
                    color: $orange;
                    font-size: 22px;
                }
                p {
                    color: $white;
                }
            }
        }
    }
    .user-info {
        width: 25%;
        padding-top: 25px;
        padding-left: 10px;
        background: grey;
        color: $white;
        p {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.category_name {
    display: flex;
    background: lightgreen;
    .category-item {
        width: calc(100%/4);
        height: 250px;
        position: relative;
        img {
            width: 100%;
            height: 250px;
        }
        .category-name {
            position: absolute;
            color: $white;
            padding-left: 10px;
            h3:first-child {
                border-bottom: 2px solid #EFED06;
                padding-bottom: 1px;
            }
        }
        .category-title {
            position: absolute;
            top: 150px;
            padding-left: 5px;
            color: $white;
            h4 {
                font-size: 22px;
            }
        }
    }
}

//
.article-card {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .article-img {
        width: 48%;
        margin-right: 4.5%;
    }
    .article-content {
        display: flex;
        border: 1px solid blue;
        background: #F5F5F5;
    }
    .article-text {
        border: 1px solid red;
        width: 48%;
        word-wrap: break-word;
        padding-left: 3%;
        h5 {
            color: #FE6001;
        }
    }
}