@import "bootstrap/scss/bootstrap";
$orange: #FD6000;
$white: #FFF;
$yellow: #EFED06;
$footer-color: #4E443E;
// Header
#nav {
    // border: 1px solid #000;
    display: flex;
    justify-items: space-between;
    padding: 22px 22px;
    // flex-direction: column;
    .navbar-brand {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar-nav {
        text-align: center;
        text-transform: uppercase;
        a {
            color: #9D9996;
        }
    }
}

// Homepage
.article-home {
    display: flex;
    .article-home-card {
        width: 75%;
        .article-img {
            background: grey;
            height: 550px;
            img {
                width: 100%;
                height: 550px;
            }
            .article-text {
                position: absolute;
                top: 520px;
                margin-left: 10px;
                h2 {
                    color: $orange;
                    font-size: 22px;
                }
                p {
                    color: $white;
                }
            }
        }
    }
    .user-info {
        width: 25%;
        padding-top: 25px;
        padding-left: 10px;
        background: grey;
        color: $white;
        p {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.category_name {
    display: flex;
    background: lightgreen;
    .category-item {
        width: calc(100%/4);
        height: 250px;
        position: relative;
        img {
            width: 100%;
            height: 250px;
        }
        .category-name {
            position: absolute;
            color: $white;
            padding-left: 10px;
            h3:first-child {
                border-bottom: 2px solid #EFED06;
                padding-bottom: 1px;
            }
        }
        .category-title {
            position: absolute;
            top: 150px;
            padding-left: 5px;
            color: $white;
            h4 {
                font-size: 22px;
            }
        }
    }
}

//
.article-card {
    // border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .article-img {
        width: 50%;
        height: 320px;
        // margin-right: 4.5%;
        img {
            width: 100%;
            // height: 320px;
            height: 100%;
        }
    }
    .article-content {
        display: flex;
        // border: 1px solid blue;
        // background: #F5F5F5;
    }
    .article-text {
        // border: 1px solid red;
        width: 50%;
        word-wrap: break-word;
        padding-left: 3%;
        // background: $white;
        background-color: rgb(255, 255, 255);
        h5 {
            color: $orange;
            text-decoration: underline;
            text-decoration-color: $orange;
            text-decoration-thickness: 2px;
        }
        h6 {
            color: #000;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
            // border: 1px solid #000;
        }
        a {
            display: block;
            color: $orange;
            margin-top: 25px;
        }
    }
}

// Footer
footer {
    display: flex;
    justify-content: space-between;
    padding: 22px 15px 22px 15px;
    background: $footer-color;
    .logo-footer {
        a {
            text-transform: uppercase;
            color: $white;
            font-size: 1.25rem;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .text {
        color: $white;
    }
    .agreement>a {
        color: $orange;
    }
    .footer-links {
        a {
            color: $footer-color;
        }
        a>span {
            padding: 10px;
            height: 50px;
            width: 50px;
            border: 1px solid $orange;
            border-radius: 50%;
            background: $orange;
        }
    }
}